.header-seccion {
    position: relative;
    height: 100%;
    position: relative;
    height: 100%;
    padding-top: 50px;

}

.imagen-fondo {
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0;
}

.imagen-fondo-movil {
	position: absolute;
	z-index: -1;
	width: 100%;
	left: 0;
    display: none;
}

.header--titulo {
	width: 40%;
	color: white;
	font-size: 2rem;
	padding-top: 10%;
	padding-left: 5%;
}

.CTA--contenedor {
	display: flex;
	color: white;
	padding-left: 11%;
	padding-top: 2%;
}

.CTA--coleccion {
	margin-right: 2%;
	background-color: #ba8254;
	padding: 5px 15px 5px 15px;
	border-radius: 50px;
	cursor: pointer;
}


.CTA--coleccion:active {
    transform: scale(0.9);
}


.CTA--contactanos {
	background-color: #ba8254;
	padding: 5px 15px 5px 15px;
	border-radius: 50px;
	cursor: pointer;
}




@media (max-width: 1400px) {
	.coleccion--libro-contenedor {
		display: flex;
        flex-wrap: wrap;
	}
}
@media (max-width: 1200px) {
	.coleccion--libro-contenedor {
		display: flex;
        flex-wrap: wrap;
	}
    .contenedor--icono-usuario p {

        display: none;
         
     }
}
@media (max-width: 1000px) {
	.imagen-fondo {
        display: none;


    }
    
    .imagen-fondo-movil {
      display: inline;
    }
}
@media (max-width: 700px) {
    
    .imagen-fondo {
        display: none;


    }
    
    .imagen-fondo-movil {
      display: inline;
    }

    .header--titulo {
        width: 100%;
        color: white;
        font-size: 2rem;
        padding-top: 10%;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
@media (max-width: 500px) {
	.titulo-logo{
        font-size: 1.4rem;
    }

    .icono-usuario{
        width: 30px;
    }

    .icono-carro{
        width: 30px;
    }
}


.CTA--contactanos:active {
    transform: scale(0.9);
}

a:link {
  text-decoration: none;
}

.CTA--coleccion:visited {
  text-decoration: none;
  color: white;
}

.CTA--contactanos:visited {
    text-decoration: none;
    color: white;
  }

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

