
.libro-seccion {
	background-color: white;
	width: 200px;
	height: 370px;
	border-radius: 20px;
	box-shadow: 10px 10px 25px gray;
	padding-top: 20px;
}
.componente-libro {
    background-color: white;
    width: 200px;
    height: 370px;
    border-radius: 20px;
    box-shadow: 10px 10px 25px gray;
    padding-top: 20px;
}

.foto-portada {
	width: 160px;
}

.libro--contenedor-botones {
	display: flex;
	justify-content: space-around;
	margin-top: 5%;
}

.boton-carrito {
	width: 40px;
	cursor: pointer;
}

.boton-carrito:active {
    transform: scale(0.9);
}

.boton-favorito {
	width: 40px;
	cursor: pointer;
}

@media (max-width: 1000px){
    .libro-seccion {
		margin-bottom: 10%;
	}

}

.boton-favorito:active {
    transform: scale(0.9);
}